.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


.text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  color: white;
}

.hackaton {
  font-family: 'Merriweather', serif;
  font-size: 2.3rem;
  color: white;
}