@media screen and (max-width: 800px) {
  .mainContainer {
      width: auto;
      margin: 0 40px;
  }
  .search {
      margin: 5vh 5vw 5vh 5vw;
  }
}
body {
  height: 100vh;
}
@media screen and (min-width: 801px) {
  .mainContainer {
    width: auto;
    margin: 0 200px;

  }
  .search {
      width: 800px;
      margin: 0 0 20px 0;
  }
}

.text {
  text-align: left;
  padding: 20px 0 0 0; 
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: grey;
}

.textS {
  text-align: left;
  padding: 0; 
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0rem;
  color: grey;
}

.tips {
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img {
  object-fit: cover;
  width: auto;
  height: 150px; 
}

.card {
  margin: 0;
  width: 45%
}