body {
  /* Set rules to fill background */
  //background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/public/bg.jpg');

}

.textH {
  padding: 20vh 0 0 0; 
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  line-height: 2.3rem;
  color: white;
}

.text {
  padding: 20px 0 0 0; 
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: auto;
  width: 50vw;
}